<div id="game-container" class="game-container">
    <div id="gui" style="position: absolute; top: 0; left: 0; bottom: 0; right: 0; overflow: hidden;">
        <div style="position: absolute; left: 1%; bottom: 8%; width: 20%; height: 10%; background-color: white; border-radius: 5px; padding: 5px;">
            <div id="chatLog" style="overflow: auto; max-height: 100%;"></div>
        </div>
        <input id="chatInput" style="position: absolute; left: 1%; bottom: 2%; width: 20%; height: 5%;" class="form-control" />
    </div>
</div>
