<div id="game-container" class="game-container">
    <div id="gui" style="position: absolute; top: 0; left: 0; bottom: 0; right: 0; overflow: hidden;">
        <div id="chatLog" style="position: absolute; left: 0; bottom: 6vh; width: 20vw; height: 10vh; background-color: white; border-radius: 10px; overflow: auto;"></div>
        <input id="chatInput" style="position: absolute; left: 0; bottom: 0; width: 20vw; height: 5vh;" class="form-control" />
    </div>
</div>
